<div id="fh5co-why-us" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2> Institute of teaching languages and computer </h2>
                <p>in our institute we teach you what is important for you. check our arabic english and computer lessons</p>
            </div>
            <div class="col-md-4 text-center item-block">
                <span class="icon"><img src="images/30.jpg" alt="Free HTML5 Templates" class="img-responsive"></span>
                <h3>English</h3>
                <p> you will be able to converse with people all around the world in English</p>
                <p><a href="#/database" class="btn btn-primary btn-outline with-arrow">registration  <i class="icon-arrow-right"></i></a></p>
            </div>
            <div class="col-md-4 text-center item-block">
                <span class="icon"><img src="images/25.jpg" alt="Free HTML5 Templates" class="img-responsive"></span>
                <h3>Computer</h3>
                <p>learn microsoft Office 2010.. it is th langugae of the century</p>
                <p><a href="#/database" class="btn btn-primary btn-outline with-arrow">registration  <i class="icon-arrow-right"></i></a></p>
            </div>
            <div class="col-md-4 text-center item-block">
                <span class="icon"><img src="images/27.jpg" alt="Free HTML5 Templates" class="img-responsive"></span>
                <h3>Arabic</h3>
                <p>learn to read arabic from zero. all ages are welcome to learn in all times</p>
                <p><a href="#/database" class="btn btn-primary btn-outline with-arrow">registration  <i class="icon-arrow-right"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="fh5co-section-with-image">

    <img src="images/image_1.jpg" alt="" class="img-responsive">
    <div class="fh5co-box animate-box ">

        <h2>Relief Program</h2>
        <p>Through a strong network of volunteers we support newcomer families with finding shelter, at times assisting with first month’s rent, as well as providing food baskets and essential non-food items such as blankets and mattresses. </p>
        <p><a href="#" class="btn btn-primary btn-outline with-arrow">Star Now <i class="icon-arrow-right"></i></a></p>
    </div>

</div>

<div id="fh5co-testimonial" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Basmeh&amp;Zeitooneh</h2>
                <p>Basmeh and Zeitooneh carried out a four-day art workshop with Syrian and Lebanese children from Bar Elias village in the Bekaa Valley. The children started out by learning the basics of drawing, and then progressed to painting murals on the walls of Bar Elias' public school. </p>
            </div>
            <div class="col-md-4 text-center item-block">
                <blockquote>
                    <p>&ldquo; Basmeh and Zeitooneh carried out a four-day art workshop with Syrian and Lebanese children from Bar Elias village in the Bekaa Valley. The children started out by learning the basics of drawing, and then progressed to painting murals on the walls of Bar Elias' public school. The workshop was run by Syrian artist Diala Brisly, and was carried out in collaboration with the Cultural-Social Council in Bar Elias. &rdquo;
                    </p>
                    <p><span class="fh5co-author"><cite>twitter</cite></span><i class="icon twitter-color icon-twitter pull-right"></i></p>
                </blockquote>
            </div>
            <div class="col-md-4 text-center item-block">
                <blockquote>
                    <p>&ldquo; Basmeh & Zeitooneh is committed to serving Syrian refugees and the communities that are hosting them in Lebanon and Turkey. We were established by Syrian expatriates who realized short-term emergency measures were failing to meet refugee needs. Our founders are part of the community we serve. We live and work in the same communities as refugees, and we endeavor to help the local hosts as well displaced Syrians &rdquo;</p>
                    <p><span class="fh5co-author"><cite>gmail</cite></span><i class="icon googleplus-color icon-google-plus pull-right"></i></p>
                </blockquote>
            </div>
            <div class="col-md-4 text-center item-block">
                <blockquote>
                    <p>&ldquo; We aim to adapt quickly to the community’s evolving needs. An ever-growing number of Syrians has been forced from their homes, taking up residence in Lebanon, where we began our work, and in Turkey, where we recently expanded. They don’t know how long they will have to live in temporary homes, waiting for the war in Syria to end. Our goal is to provide the range of services they need in order to live a life of dignity &rdquo;</p>
                    <p><span class="fh5co-author"><cite>facebook</cite></span><i class="icon facebook-color icon-facebook pull-right"></i></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-grid-products" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Women’s Workshop</h2>
                <p>" I come here to show the world that despite all our hardships, we can be productive, innovative, and that we are talented women" </p>
            </div>
        </div>
    </div>
    <div class="col-1">
        <a href="#" class="item-grid one" style="background-image: url(images/image_4.jpg)">
            <div class="v-align">
                <div class="v-align-middle">
                </div>
            </div>
        </a>
        <a href="#" class="item-grid three" style="background-image: url(images/image_3.jpg)">
            <div class="v-align">
                <div class="v-align-middle">
                </div>
            </div>
        </a>
    </div>
    <div class="col-2">
        <a href="#" class="item-grid two" style="background-image: url(images/image_2.jpg)">
            <div class="v-align">
                <div class="v-align-middle">
                </div>
            </div>
        </a>
    </div>
</div>
<div id="fh5co-blog" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Basmeh    <em>&</em> Zeitooneh</h2>
                <p>Volunteer Opportunities We welcome inquiries from enthusiastic, dedicated individuals who would like to use their skill set to offer support to our beneficiaries... </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="fh5co-entry" href="#">
                    <figure>
                        <img src="images/image_1.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
                    </figure>
                    <div class="fh5co-copy">
                        <h3>Relief Program</h3>
                        <span class="fh5co-date">september 12, 2016</span>
                        <p>Through a strong network of volunteers we support newcomer families with finding shelter, at times assisting with first month’s rent, as well as providing food baskets and essential non-food items such as blankets and mattresses. Our team also provides regular support to female heads of household and orphans in the form of food baskets and non-food items and a special sponsorship program for the most vulnerable members in this
                            <br>
                            <br> category. </p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="fh5co-entry" href="#">
                    <figure>
                        <img src="images/image_2.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
                    </figure>
                    <div class="fh5co-copy">
                        <h3>Peace Education </h3>
                        <span class="fh5co-date">september 12, 2016</span>
                        <p>Basmeh and Zeitooneh has set up a peace education program for children suffering trauma as a result of war and displacement from Syria. This program runs alongside the school program, in recognition of the fact that psychological support is vital for children to be able to learn effectively in the classroom. The program provides the children an avenue through which they can release the stress and tension caused by displacement, through activities such as visual arts, theatre, storytelling and other enjoyable and creative activities. </p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="fh5co-entry" href="#">
                    <figure>
                        <img src="images/image_3.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
                    </figure>
                    <div class="fh5co-copy">
                        <h3>Women’s Workshop</h3>
                        <span class="fh5co-date">september 12, 2016</span>
                        <p>The women’s workshops aim to empower women who currently provide financial support to their families and to help restore their sense of dignity. The workshops provide training in embroidery and subsequently allow the women an opportunity to sell their products. The programs are active in Shatilla and Burj al Barajneh. In addition to skills building, the workshops offer women awareness sessions on topics ranging from general health to women’s empowerment and women’s rights and responsibilities in the workplace </p>
                    </div>
                </a>
            </div>
            <div class="col-md-12 text-center">
                <p><a href="#" class="btn btn-primary btn-outline with-arrow">View More Posts <i class="icon-arrow-right"></i></a></p>
            </div>
        </div>
    </div>
</div>

<div class="fh5co-cta" style="background-image: url(images/image_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-12 text-center animate-box">
            <h3>Basmeh&amp;Zeitooneh</h3>
            <p><a href="#" class="btn btn-primary btn-outline with-arrow">started now! <i class="icon-arrow-right"></i></a></p>
        </div>
    </div>
</div>


<footer id="fh5co-footer" role="contentinfo">

    <div class="container">
        <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>About Us</h3>
            <p>Basmeh and Zeitooneh<br> For<br> Relief and Development. </p>
            <p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">start now <i class="icon-arrow-right"></i></a></p>
        </div>
        <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Team</h3>
            <ul class="float">
                <li><a href="#">faiz juaaneh</a></li>
                <li><a href="#">Myassar</a></li>
                <li><a href="#">Razan</a></li>
            </ul>


        </div>

        <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Follow Us</h3>
            <ul class="fh5co-social">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-google-plus"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
            </ul>
        </div>
        <div class="col-md-12 fh5co-copyright text-center">
            <p>&copy; 2016 . All Rights Reserved for Team Myassar Faiz Razan. <span><i class="icon-heart">
                
				</i> by <a href="http://freehtml5.co/" target="_blank">juaaneh.co</a> vschool
<!--
				 <a href="https://dribbble.com/TrinhHo" target="_blank"> </a>   
				 <a href="http://unsplash.com/" target="_blank"></a>
-->
				</span></p>
        </div>
    </div>
</footer>