
<div id="fh5co-grid-products" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>PeaceEducation</h2>
					<p>Basmeh and Zeitooneh has set up a peace education program for children suffering trauma as a result of war and displacement from Syria. This program runs alongside the school program, in recognition of the fact that psychological support is vital for children to be able to learn effectively in the classroom. The program provides the children an avenue through which they can release the stress and tension caused by displacement, through activities such as visual arts, theatre, storytelling and other enjoyable and creative activities. </p>
				</div>
			</div>
		</div>

		
		<div class="col-1">
			<a href="#" class="item-grid one" style="background-image: url(images/edu1.jpg)">
				<div class="v-align">
<!--
					<div class="v-align-middle">
						<span class="icon"><img src="images/9.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Geographical App</h3>
						<h5 class="category">Web Application</h5>
					</div>
-->
				</div>
			</a>
			<a href="#" class="item-grid three" style="background-image: url(images/edu5.jpg)">
				<div class="v-align">
<!--
					<div class="v-align-middle">
						<span class="icon"><img src="images/18.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Communication App</h3>
						<h5 class="category">Web Application</h5>
					</div>
-->
				</div>
			</a>
		</div>
		<div class="col-2">
			<a href="#" class="item-grid two" style="background-image: url(images/edu3.jpg)">
				<div class="v-align">
<!--
					<div class="v-align-middle">
						<span class="icon"><img src="images/27.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Golf Club Tracker</h3>
						<h5 class="category">Web Application</h5>
					</div>
-->
				</div>
			</a>
		</div>




		<div class="col-1 reverse">
			<a href="#" class="item-grid one" style="background-image: url(images/edu2.jpg)">
				<div class="v-align">
<!--
					<div class="v-align-middle">
						<span class="icon"><img src="images/9.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Geographical App</h3>
						<h5 class="category">Web Application</h5>
					</div>
-->
				</div>
			</a>
			<a href="#" class="item-grid three" style="background-image: url(images/edu5.jpg)">
				<div class="v-align">
<!--
					<div class="v-align-middle">
						<span class="icon"><img src="images/18.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Communication App</h3>
						<h5 class="category">Web Application</h5>
					</div>
-->
				</div>
			</a>
		</div>
		<div class="col-2 reverse">
			<a href="#" class="item-grid two" style="background-image: url(images/edu4.jpg)">
				<div class="v-align">
<!--
					<div class="v-align-middle">
						<span class="icon"><img src="images/27.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Golf Club Tracker</h3>
						<h5 class="category">Web Application</h5>
					</div>
-->
				</div>
			</a>
		</div>
		
		
	</div>
	

	<div id="fh5co-blog" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>PeaceEducation <em></em> </h2>
					<p> </p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a class="fh5co-entry" href="#">
						<figure>
						<img src="images/edu3.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
						</figure>
<!--
						<div class="fh5co-copy">
							<h3>We Create Awesome Free Templates</h3>
							<span class="fh5co-date">June 8, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
-->
					</a>
				</div>
				<div class="col-md-4">
					<a class="fh5co-entry" href="#">
						<figure>
						<img src="images/edu1.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
						</figure>
<!--
						<div class="fh5co-copy">
							<h3>Handcrafted Using CSS3 &amp; HTML5</h3>
							<span class="fh5co-date">June 8, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
-->
					</a>
				</div>
				<div class="col-md-4">
					<a class="fh5co-entry" href="#">
						<figure>
						<img src="images/edu6.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
						</figure>
<!--
						<div class="fh5co-copy">
							<h3>We Try To Update The Site Everyday</h3>
							<span class="fh5co-date">June 8, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
-->
					</a>
				</div>
				<div class="col-md-12 text-center">
					<p><a href="#" class="btn btn-primary btn-outline with-arrow">View More Posts <i class="icon-arrow-right"></i></a></p>
				</div>
			</div>
		</div>	
	</div>

	<div class="fh5co-cta" style="background-image: url(images/image_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>We Try To Update The Site Everyday</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">

    <div class="container">
        <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>About Us</h3>
            <p>Basmeh and Zeitooneh<br> For<br> Relief and Development. </p>
            <p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">start now <i class="icon-arrow-right"></i></a></p>
        </div>
        <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Team</h3>
            <ul class="float">
                <li><a href="#">faiz juaaneh</a></li>
                <li><a href="#">Myassar</a></li>
                <li><a href="#">Razan</a></li>
            </ul>


        </div>

        <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Follow Us</h3>
            <ul class="fh5co-social">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-google-plus"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
            </ul>
        </div>
        <div class="col-md-12 fh5co-copyright text-center">
            <p>&copy; 2016 . All Rights Reserved for Team Myassar Faiz Razan. <span><i class="icon-heart">
                
				</i> by <a href="http://freehtml5.co/" target="_blank">juaaneh.co</a> vschool
<!--
				 <a href="https://dribbble.com/TrinhHo" target="_blank"> </a>   
				 <a href="http://unsplash.com/" target="_blank"></a>
-->
				</span></p>
        </div>
    </div>
</footer>